.mat-mdc-dialog-surface {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: transparent;
}

.cdk-overlay-pane {
  max-width: calc(100vw - 32px) !important;
}
